<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>PageController</servlet-name>
  	<display-name>PageController</display-name>
  	<description></description>
  	<servlet-class>controllers.dropdownControllers.PageController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestCaseController</servlet-name>
  	<display-name>TestCaseController</display-name>
  	<description></description>
  	<servlet-class>controllers.dropdownControllers.TestCaseController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NavigationGraphController</servlet-name>
  	<display-name>NavigationGraphController</display-name>
  	<description></description>
  	<servlet-class>controllers.moduleControllers.NavigationGraphController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PageLoadGraphController</servlet-name>
  	<display-name>PageLoadGraphController</display-name>
  	<description></description>
  	<servlet-class>controllers.moduleControllers.PageLoadGraphController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationController</servlet-name>
  	<display-name>RegistrationController</display-name>
  	<description></description>
  	<servlet-class>controllers.middlewareControllers.RegistrationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SecurityQuestions</servlet-name>
  	<display-name>SecurityQuestions</display-name>
  	<description></description>
  	<servlet-class>controllers.middlewareControllers.SecurityQuestions</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>controllers.middlewareControllers.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowTcAppController</servlet-name>
  	<display-name>ShowTcAppController</display-name>
  	<description></description>
  	<servlet-class>controllers.updateControllers.ShowTcAppController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateTcAppNameController</servlet-name>
  	<display-name>CreateTcAppNameController</display-name>
  	<description></description>
  	<servlet-class>controllers.updateControllers.CreateTcAppNameController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateApplicationController</servlet-name>
  	<display-name>CreateApplicationController</display-name>
  	<description></description>
  	<servlet-class>controllers.updateControllers.CreateApplicationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowApplicationController</servlet-name>
  	<display-name>ShowApplicationController</display-name>
  	<description></description>
  	<servlet-class>controllers.updateControllers.ShowApplicationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateRequestController</servlet-name>
  	<display-name>CreateRequestController</display-name>
  	<description></description>
  	<servlet-class>controllers.updateControllers.CreateRequestController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTestcaseController</servlet-name>
  	<display-name>AddTestcaseController</display-name>
  	<description></description>
  	<servlet-class>controllers.updateControllers.AddTestcaseController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PopulateTableController</servlet-name>
  	<display-name>PopulateTableController</display-name>
  	<description></description>
  	<servlet-class>controllers.updateControllers.PopulateTableController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestScenarioHistoryController</servlet-name>
  	<display-name>TestScenarioHistoryController</display-name>
  	<description></description>
  	<servlet-class>controllers.updateControllers.TestScenarioHistoryController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadFileController</servlet-name>
  	<display-name>UploadFileController</display-name>
  	<description></description>
  	<servlet-class>controllers.updateControllers.UploadFileController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateTestCaseNameController</servlet-name>
  	<display-name>UpdateTestCaseNameController</display-name>
  	<description></description>
  	<servlet-class>controllers.updateControllers.UpdateTestCaseNameController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteTestScenarioController</servlet-name>
  	<display-name>DeleteTestScenarioController</display-name>
  	<description></description>
  	<servlet-class>controllers.updateControllers.DeleteTestScenarioController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ElementLoadingTimeGraphController</servlet-name>
  	<display-name>ElementLoadingTimeGraphController</display-name>
  	<description></description>
  	<servlet-class>controllers.moduleControllers.ElementLoadingTimeGraphController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RequestController</servlet-name>
  	<display-name>RequestController</display-name>
  	<description></description>
  	<servlet-class>controllers.AdminControllers.requestControllers.RequestController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RequestAcceptController</servlet-name>
  	<display-name>RequestAcceptController</display-name>
  	<description></description>
  	<servlet-class>controllers.AdminControllers.requestControllers.RequestAcceptController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminAcceptController</servlet-name>
  	<display-name>AdminAcceptController</display-name>
  	<description></description>
  	<servlet-class>controllers.AdminRequestRejectControllers.AdminAcceptController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminRejectController</servlet-name>
  	<display-name>AdminRejectController</display-name>
  	<description></description>
  	<servlet-class>controllers.AdminRequestRejectControllers.AdminRejectController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminAddAppController</servlet-name>
  	<display-name>AdminAddAppController</display-name>
  	<description></description>
  	<servlet-class>controllers.AdminAddAppControllers.AdminAddAppController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<display-name>LogoutController</display-name>
  	<description></description>
  	<servlet-class>controllers.middlewareControllers.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminAddAdminController</servlet-name>
  	<display-name>AdminAddAdminController</display-name>
  	<description></description>
  	<servlet-class>controllers.AdminAddAdminControllers.AdminAddAdminController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminRemovesAdminController</servlet-name>
  	<display-name>AdminRemovesAdminController</display-name>
  	<description></description>
  	<servlet-class>controllers.AdminAddAdminControllers.AdminRemovesAdminController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminDeleteApplication</servlet-name>
  	<display-name>AdminDeleteApplication</display-name>
  	<description></description>
  	<servlet-class>controllers.AdminAddAppControllers.AdminDeleteApplication</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminRetriveApplicationController</servlet-name>
  	<display-name>AdminRetriveApplicationController</display-name>
  	<description></description>
  	<servlet-class>controllers.AdminAddAppControllers.AdminRetriveApplicationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminEditApplication</servlet-name>
  	<display-name>AdminEditApplication</display-name>
  	<description></description>
  	<servlet-class>controllers.AdminAddAppControllers.AdminEditApplication</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllPageLoadGraphController</servlet-name>
  	<display-name>AllPageLoadGraphController</display-name>
  	<description></description>
  	<servlet-class>controllers.moduleControllers.AllPageLoadGraphController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LinkedchartServlet2</servlet-name>
  	<display-name>LinkedchartServlet2</display-name>
  	<description></description>
  	<servlet-class>controllers.moduleControllers.LinkedchartServlet2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BaseActualGraphController</servlet-name>
  	<display-name>BaseActualGraphController</display-name>
  	<description></description>
  	<servlet-class>controllers.moduleControllers.BaseActualGraphController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NavigationController</servlet-name>
  	<display-name>NavigationController</display-name>
  	<description></description>
  	<servlet-class>controllers.moduleControllers.NavigationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateTCModalController</servlet-name>
  	<display-name>UpdateTCModalController</display-name>
  	<description></description>
  	<servlet-class>controllers.updateControllers.UpdateTCModalController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestCaseComparisonGraphController</servlet-name>
  	<display-name>TestCaseComparisonGraphController</display-name>
  	<description></description>
  	<servlet-class>controllers.moduleControllers.TestCaseComparisonGraphController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PageLoadByStackAccTestcase</servlet-name>
  	<display-name>PageLoadByStackAccTestcase</display-name>
  	<description></description>
  	<servlet-class>controllers.moduleControllers.PageLoadByStackAccTestcase</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestCaseComparisonGraphControllerTwo</servlet-name>
  	<display-name>TestCaseComparisonGraphControllerTwo</display-name>
  	<description></description>
  	<servlet-class>controllers.moduleControllers.TestCaseComparisonGraphControllerTwo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowPagesController</servlet-name>
  	<display-name>ShowPagesController</display-name>
  	<description></description>
  	<servlet-class>controllers.AdminShow.ShowPagesController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserDeleteController</servlet-name>
  	<display-name>UserDeleteController</display-name>
  	<description></description>
  	<servlet-class>controllers.AdminShow.UserDeleteController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserMapDeleteController</servlet-name>
  	<display-name>UserMapDeleteController</display-name>
  	<description></description>
  	<servlet-class>controllers.AdminShow.UserMapDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PageController</servlet-name>
  	<url-pattern>/PageController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestCaseController</servlet-name>
  	<url-pattern>/TestCaseController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NavigationGraphController</servlet-name>
  	<url-pattern>/NavigationGraphController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PageLoadGraphController</servlet-name>
  	<url-pattern>/PageLoadGraphController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationController</servlet-name>
  	<url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SecurityQuestions</servlet-name>
  	<url-pattern>/SecurityQuestions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowTcAppController</servlet-name>
  	<url-pattern>/ShowTcAppController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateTcAppNameController</servlet-name>
  	<url-pattern>/CreateTcAppNameController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateApplicationController</servlet-name>
  	<url-pattern>/CreateApplicationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowApplicationController</servlet-name>
  	<url-pattern>/ShowApplicationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateRequestController</servlet-name>
  	<url-pattern>/CreateRequestController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTestcaseController</servlet-name>
  	<url-pattern>/AddTestcaseController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PopulateTableController</servlet-name>
  	<url-pattern>/PopulateTableController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestScenarioHistoryController</servlet-name>
  	<url-pattern>/TestScenarioHistoryController</url-pattern>
  	
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadFileController</servlet-name>
  	<url-pattern>/UploadFileController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateTestCaseNameController</servlet-name>
  	<url-pattern>/UpdateTestCaseNameController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteTestScenarioController</servlet-name>
  	<url-pattern>/DeleteTestScenarioController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ElementLoadingTimeGraphController</servlet-name>
  	<url-pattern>/ElementLoadingTimeGraphController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RequestController</servlet-name>
  	<url-pattern>/RequestController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RequestAcceptController</servlet-name>
  	<url-pattern>/RequestAcceptController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminAcceptController</servlet-name>
  	<url-pattern>/AdminAcceptController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminRejectController</servlet-name>
  	<url-pattern>/AdminRejectController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminAddAppController</servlet-name>
  	<url-pattern>/AdminAddAppController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminAddAdminController</servlet-name>
  	<url-pattern>/AdminAddAdminController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminRemovesAdminController</servlet-name>
  	<url-pattern>/AdminRemovesAdminController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminDeleteApplication</servlet-name>
  	<url-pattern>/AdminDeleteApplication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminRetriveApplicationController</servlet-name>
  	<url-pattern>/AdminRetriveApplicationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminEditApplication</servlet-name>
  	<url-pattern>/AdminEditApplication</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllPageLoadGraphController</servlet-name>
  	<url-pattern>/AllPageLoadGraphController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LinkedchartServlet2</servlet-name>
  	<url-pattern>/LinkedchartServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BaseActualGraphController</servlet-name>
  	<url-pattern>/BaseActualGraphController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NavigationController</servlet-name>
  	<url-pattern>/NavigationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateTCModalController</servlet-name>
  	<url-pattern>/UpdateTCModalController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestCaseComparisonGraphController</servlet-name>
  	<url-pattern>/TestCaseComparisonGraphController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PageLoadByStackAccTestcase</servlet-name>
  	<url-pattern>/PageLoadByStackAccTestcase</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestCaseComparisonGraphControllerTwo</servlet-name>
  	<url-pattern>/TestCaseComparisonGraphControllerTwo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowPagesController</servlet-name>
  	<url-pattern>/ShowPagesController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserDeleteController</servlet-name>
  	<url-pattern>/UserDeleteController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserMapDeleteController</servlet-name>
  	<url-pattern>/UserMapDeleteController</url-pattern>
  </servlet-mapping>
</web-app>
